/*
* Game Mata Mosquito
*/ 
body{
	background:url(imagens/mata-mosquito-bg.jpg)no-repeat;
}
.mosquito1{
	width:45px;
	height:45px;
}
.mosquito2{
	width:75px;
	height:75px;
}
.mosquito3{
	width:90px;
	height:90px;
}
.ladoA{
	transform: scaleX(1);
}
.ladoB{
	transform: scaleX(-1); /* altera o lado da imagem
}